/* Глобальные стили для проекта */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
 
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  color: currentColor;
}

.decor {
  position: absolute;
  right: 20px;
  top: 20px;
}

.text-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--subtitle-color, #000028);
}

.decor::after {
  position: absolute;
  content: "";
  top: 8px;
  right: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
  min-height: 9px;
  min-width: 9px;
}

.decor::before {
  position: absolute;
  content: "REc";
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-color, #ff0070);
  font-weight: 400;
  line-height: 18px;
  right: 28px;
  font-style: normal;
  font-size: 18px;
  top: 3px;
  font-family: var(--font-family, "IBM Plex Mono", monospace);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--border-color, #ff0070);
  border-block-start: 1px solid var(--border-color, #ff0070);
  width: 25px;
  height: 25px;
  top: 20px;
  right: 20px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--border-color, #ff0070);
  border-block-end: 1px solid var(--border-color, #ff0070);
  bottom: 20px;
  width: 25px;
  height: 25px;
  left: 20px;
}
